<?xml version="1.0" encoding="UTF-8"?>
%rss{:version=>"2.0", "xmlns:atom"=>"http://www.w3.org/2005/Atom"}
  %channel
    %link http://nathanherald.com
    %atom:link{:type=>"application/rss+xml", :href=>"http://nathanherald.com/feed", :rel=>"self"}
    %title nathanherald.com
    %description nathanherald.com
    %language en-us

    - @posts.each do |post|
      %item
        %pubDate= post.created_at.to_s
        %guid= post.url
        %link= post.url
        %title= post.title || "No Title"
        %description
          <![CDATA[
          = post.description || post.content_object.to_s
          ]]>