!!!
%html
  %head
    %title= "nathanherald.com #{@title ? " | " + @title : ""}"
    %link{:href=>"/feed", :type=>"application/rss+xml", :rel=>"alternate", :title=>"RSS Feed"}
    %link{:href=>"/master.css", :type=>"text/css", :media=>"screen", :rel=>"stylesheet"}
  %body
    #header
      .before
        %a{:href=>"#main"} Skip To Content
        
      #nav
        %ul
          %li
            %a{:href=>"/"} Home
          %li
            %a{:href=>"/archive"} Archive
          %li
            %a{:href=>"/about"} About
          %li
            %a{:href=>"/contact"} Contact
          %li
            %a{:href=>"/feed"} Feed
          %li.search
            %form{:action=>"/search"}
              %label{:for=>"q"} Search
              %input{:type=>"search", :name=>"q", :id=>"q"}
      
      %h1 Nathan Herald
      %p.slogan I am a designer, husband, and nerd.
    
    #main= yield
    
    #sidebar
      %ol#archives
        - months.each do |month, year|
          %li
            - c = Post.my_count(month, year)
            %a{:href=>"/#{year}/#{month.two_digits}"}
              = "#{Date::MONTHNAMES[month]} #{year}"
              %span.count= "(#{c})"
            %span.index{:style=>"width:#{perc_of_month(c)}%"}
    
    #footer
      %p 
        Copyright &copy; Nathan Herald | Header image originally by 
        %a{:href=>"http://www.flickr.com/photos/bittbox/2717129630/"} bittbox
    
    %script{:src=>"/jquery.js"}
    %script{:src=>"/application.js"}
    